{
    "env": {
        "es6": true,
        "node": true
    },
    "parser": "@typescript-eslint/parser",
    "parserOptions": {
        "sourceType": "module"
    },
    "plugins": [
        "@typescript-eslint",
        "prettier",
    ],
    "extends": [
        "eslint:recommended",
        "plugin:prettier/recommended"
    ],
    "rules": {
        "@typescript-eslint/class-name-casing": "warn",
        "@typescript-eslint/interface-name-prefix": "warn",
        "@typescript-eslint/no-explicit-any": "off",
        "@typescript-eslint/no-unused-vars": "warn",
        "no-unused-vars": "off",
        "curly": "warn",
        "default-case": "warn",
        "dot-notation": "warn",
        "eol-last": "off",
        "guard-for-in": "warn",
        "no-bitwise": "warn",
        "no-caller": "warn",
        "no-console": [
            "warn"
        ],
        "no-debugger": "warn",
        "no-empty": "warn",
        "no-empty-function": "warn",
        "no-eval": "warn",
        "no-fallthrough": "warn",
        "no-new-wrappers": "warn",
        "no-undef": "off",
        "radix": "warn",
        "no-shadow": [
            "warn",
            {
                "builtinGlobals": false,
                "hoist": "functions",
                "allow": []
            }
        ],
        "no-unused-expressions": "warn",
        "eqeqeq": [
            "warn",
            "always"
        ],
        "camelcase": "off"
    }
}